<main class="mx-40 font-mono">
  <section>
    <h1 class="text-center mt-10 font-bold text-3xl tracking-widest my-10">About Me</h1>
    <div class="flex justify-center">
      <div class="content-around">
        <div class="inline-block">
          <img src="icon.png" alt="icon" class="w-52 aspect-square rounded-full border border-solid border-gray-300" />
        </div>
        <p class="my-auto text-center font-bold text-lg">da1chi<br>(Daichi Kudo)</p>
      </div>
      <app-profile-links [links]="links" />
    </div>
  </section>
</main>
