name: Auto Assign PR Assignees
on:
  pull_request:
    types: [opened, ready_for_review]

jobs:
  add-assignees:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      repository-projects: read
    timeout-minutes: 5
    if: github.event.pull_request.assignee == null && contains(github.actor, '[bot]') == false
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Auto Assign PR Assignees
        env:
          GITHUB_TOKEN: ${{ github.token }}
          GITHUB_REPOSITORY: ${{ github.repository }}
        run: gh pr edit ${{ github.event.number }} --add-assignee ${{ github.actor }}

